
extends layout
block content
  h1= title
 
  if (toShow == null)
    h2 No instance to delete
  else
    - let movieid = toShow._id
    - let movieName = toShow.movieName
    - let movieReleasedDate = toShow.movieReleasedDate
    - let moviePrice = toShow.moviePrice
    - let actionid = "/resource/movie/" + movieid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='movieAttr mr-3') movieid is:
          div #{movieid}
      div.row
        div(class='movieAttr mr-3') movieName is:
          div #{movieName}
      div.row
        div(class='movieAttr mr-3') movieReleasedDate is:
          div #{movieReleasedDate}
      div.row
        div(class='movieAttr mr-3') moviePrice:
          div #{moviePrice}
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 
  script.
    function cancel() {
      // Go back to the home page for the movie collections
      window.location.href='/movie'
    }
  script.
    function deleteOnid() {
      console.log("starting delete");
      // delete first
      fetch(actionid, {
        method: 'DELETE'     // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeeded");
        window.location.href='/movie';
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error );
      });
    }
